.about {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.about h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.about p {
    margin-bottom: 1.5em;
}

.about a {
    padding-top: 30px;
}